{% extends "../base.html" %} {% block header %}{% endblock %} {% block
main_content %}
<form method="post" action="/admin/trails">
  <label for="title">Title:</label
  ><input type="text" name="title" value="{{ trail.title }}" required />
  <label for="difficulty">Difficulty:</label>
  <select name="difficulty" value="{{ trail.difficulty }}" required>
    <option value="">Please select a Difficulty</option>
    {% for difficulty in ["easy", "moderate", "hard"] %}
    <option value="{{ difficulty }}" {{ "selected" if difficulty == trail.difficulty }}>
      {{ difficulty | capitalize }}
    </option>
    {% endfor %}
  </select>
  <label for="distance">Distance (km):</label
  ><input
    type="number"
    step="0.1"
    min="0.1"
    name="distance"
    value="{{ trail.distanceKm }}"
    required
  />
  <label for="image">Image path:</label
  ><input type="text" name="image" value="{{ trail.imageUrl }}" />
  <label for="regionId">Region:</label>
  <select name="regionId" required>
    <option value="">Please select a region</option>
    {% for region in regions %}
    <option value="{{ region.id }}" {{ "selected" if region.id == trail.regionId else "" }}>{{ region.name }}</option>
    {% endfor %}
  </select>
  <label for="content">Description:</label
  ><textarea name="description" placeholder="Description" required>{{ trail.description }}</textarea>
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
