<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Trail Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <header>
    {% block header %}
    <nav>
      <a href="/">Home</a>
      <a href="/regions">Regions</a>
    </nav>
    {% endblock %}
  </header>
  <body>
    <main>{% block main_content %} {% endblock %}</main>
  </body>
  <footer>{% block footer %}{% endblock %}</footer>
</html>
